.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(140deg, rgb(238, 182, 213), rgb(228, 141, 209)) ;
}
.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(226, 80, 170);
  margin: 2px;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
form input[type="button"]:hover {
  background-color: rgb(218, 9, 131);
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(230, 221, 221); 
}
/*the reason the box got wide is because of flex*/
form input.equal {
  width: 120px;
}
